@charset "UTF-8";
html p, html a, html li, html button {
  font-family: "foco";
  font-size: 16px; }

html h1, html h2, html h3, html h4, html h5 {
  font-family: "proxima-nova"; }

#site_wrap {
  max-width: 1400px;
  position: relative; }

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

.homepage_section {
  margin-bottom: 2.5em; }

.section_title {
  color: #a19181;
  margin-top: 2.5em; }

.right {
  text-align: right; }

.lang {
  font-weight: 900;
  color: #a19181; }

.lang_active {
  color: #d83734; }

#header_nav_container {
  margin-bottom: 1em; }
  #header_nav_container #language {
    text-align: right; }
  #header_nav_container #header_bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #header_nav_container #header_bar #header_logo {
      text-align: center; }
      @media only screen and (max-width: 768px) {
        #header_nav_container #header_bar #header_logo {
          text-align: left; } }
      #header_nav_container #header_bar #header_logo img {
        height: 92px; }
    #header_nav_container #header_bar #header_spacer {
      display: none; }
      @media only screen and (max-width: 768px) {
        #header_nav_container #header_bar #header_spacer {
          display: block; } }
    @media only screen and (max-width: 768px) {
      #header_nav_container #header_bar #header_social {
        display: none; } }
    #header_nav_container #header_bar #header_social i {
      font-size: 28px;
      color: #a19181; }
      #header_nav_container #header_bar #header_social i:hover {
        color: #adadad;
        text-decoration: none; }
    #header_nav_container #header_bar #header_social a:not(:last-child) {
      margin-right: 2em; }
    #header_nav_container #header_bar #header_social a:hover {
      text-decoration: none; }
    #header_nav_container #header_bar #header_search {
      position: relative;
      text-align: right; }
      #header_nav_container #header_bar #header_search img {
        height: 20px;
        cursor: pointer; }
    #header_nav_container #header_bar #header_nav {
      text-align: right; }
      #header_nav_container #header_bar #header_nav #drawer_trigger span {
        color: #a19181;
        font-family: "proxima-nova";
        font-size: 20px;
        cursor: pointer; }
        @media screen and (max-width: 768px) {
          #header_nav_container #header_bar #header_nav #drawer_trigger span {
            display: none; } }
      #header_nav_container #header_bar #header_nav #drawer_trigger img {
        height: 20px;
        margin-left: 0.5em;
        cursor: pointer; }

#hidden_search_container {
  text-align: center;
  max-height: 0px;
  transition: all 1s ease;
  opacity: 0; }
  #hidden_search_container #search_input_hidden {
    display: inline-block;
    width: 60%;
    z-index: -90; }
    @media only screen and (max-width: 768px) {
      #hidden_search_container #search_input_hidden {
        width: 90%; } }
  #hidden_search_container img {
    display: inline-block;
    height: 20px;
    cursor: pointer; }

/* newsletter */
#newsletter_container {
  background: url("/images/homepage/newsletter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 250px; }
  @media only screen and (max-width: 768px) {
    #newsletter_container {
      padding-left: 15px;
      padding-right: 15px; } }
  #newsletter_container #newsletter p, #newsletter_container #newsletter h2 {
    text-align: center; }
  #newsletter_container #newsletter h2.section_title {
    margin-bottom: 30px;
    margin-top: 0; }
  #newsletter_container #newsletter p {
    color: white; }
    @media only screen and (max-width: 992px) {
      #newsletter_container #newsletter p {
        margin-bottom: 1em; } }
  @media only screen and (max-width: 992px) {
    #newsletter_container #newsletter h2 {
      margin-top: 1em !important; } }
  #newsletter_container #newsletter input, #newsletter_container #newsletter button {
    border-radius: 0; }
  #newsletter_container #newsletter button {
    color: white;
    background: #a19181;
    border-color: #a19181; }
    @media only screen and (max-width: 500px) {
      #newsletter_container #newsletter button {
        padding: 0;
        padding-top: 6px;
        padding-bottom: 6px; } }
    #newsletter_container #newsletter button .fa-envelope-o {
      display: none;
      font-size: 18px;
      padding-bottom: 2px; }
      @media only screen and (max-width: 400px) {
        #newsletter_container #newsletter button .fa-envelope-o {
          display: block; } }
    @media only screen and (max-width: 400px) {
      #newsletter_container #newsletter button .sub_text {
        display: none; } }
  #newsletter_container #newsletter .form-control:focus {
    border-color: #a19181;
    box-shadow: 0px 0px 5px #a19181; }

/* newsletter end */
#toggle-right {
  display: none; }
  #toggle-right:checked ~ .main_menu {
    right: 0%; }

.main_menu {
  position: fixed;
  top: 0;
  right: -25%;
  width: 25%;
  height: 100%;
  background: #383838;
  z-index: 10;
  padding: 20px 0 0 0;
  transition: all 0.15s ease-out 0s; }
  @media only screen and (min-width: 550px) and (max-width: 992px) {
    .main_menu {
      right: -35%;
      width: 35%; } }
  @media only screen and (max-width: 550px) {
    .main_menu {
      right: -45%;
      width: 45%; } }
  .main_menu .close_drawer {
    padding-right: 2em;
    cursor: pointer;
    width: 100%;
    text-align: right;
    margin-bottom: 60px; }
    @media screen and (max-height: 680px) {
      .main_menu .close_drawer {
        margin-bottom: 5px; } }
    .main_menu .close_drawer img {
      width: 20px;
      height: 20px; }
  .main_menu nav ul {
    padding: 0;
    width: 100%; }
    .main_menu nav ul li {
      cursor: pointer;
      list-style-type: none;
      text-align: center;
      font-weight: 900;
      color: white;
      transition: background 0.5s ease-out; }
      .main_menu nav ul li:hover {
        background: #A19181; }
      .main_menu nav ul li a {
        display: block;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        color: white;
        font-size: 1.2em; }
        .main_menu nav ul li a:hover {
          text-decoration: none; }
      .main_menu nav ul li p {
        margin: 0;
        font-size: 1.2em; }
    .main_menu nav ul li.active {
      background: #A19181; }
    .main_menu nav ul li.career_menu_link {
      padding-top: 1em;
      padding-bottom: 1em; }
  .main_menu #main_menu_social {
    margin-top: 4em;
    padding: 0 1em 0 1em; }
    .main_menu #main_menu_social > .row {
      text-align: center; }
      .main_menu #main_menu_social > .row a {
        padding: 10px; }
        .main_menu #main_menu_social > .row a i {
          font-size: 1.4em;
          color: #adadad; }
          .main_menu #main_menu_social > .row a i:hover {
            color: #a19181; }

/* footer */
#footer_outer_container {
  color: white;
  background: #d83734;
  padding-top: 6em;
  padding-bottom: 0px; }
  @media only screen and (max-width: 768px) {
    #footer_outer_container {
      padding-top: 3em; } }
  #footer_outer_container > #footer_inner_container {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto; }
    #footer_outer_container > #footer_inner_container > .row:nth-child(1) {
      margin-bottom: 4em; }
      #footer_outer_container > #footer_inner_container > .row:nth-child(1) p {
        margin: 0; }
      #footer_outer_container > #footer_inner_container > .row:nth-child(1) #telephone {
        margin-top: 20px; }
        @media only screen and (max-width: 768px) {
          #footer_outer_container > #footer_inner_container > .row:nth-child(1) #telephone {
            text-align: center;
            margin-bottom: 3em; } }
      @media only screen and (max-width: 768px) {
        #footer_outer_container > #footer_inner_container > .row:nth-child(1) #address {
          text-align: center; } }
      #footer_outer_container > #footer_inner_container > .row:nth-child(1) #footer_logo {
        text-align: center; }
        #footer_outer_container > #footer_inner_container > .row:nth-child(1) #footer_logo img {
          width: 250px; }
      #footer_outer_container > #footer_inner_container > .row:nth-child(1) #footer_social {
        margin-top: 35px; }
        #footer_outer_container > #footer_inner_container > .row:nth-child(1) #footer_social a i {
          font-size: 34px;
          color: white; }
        #footer_outer_container > #footer_inner_container > .row:nth-child(1) #footer_social a:not(:first-child) i {
          margin-left: 43px; }
      #footer_outer_container > #footer_inner_container > .row:nth-child(1) #footer_contact_us {
        font-size: 2em; }
        #footer_outer_container > #footer_inner_container > .row:nth-child(1) #footer_contact_us a {
          color: white; }
          #footer_outer_container > #footer_inner_container > .row:nth-child(1) #footer_contact_us a:hover {
            text-decoration: none; }
        #footer_outer_container > #footer_inner_container > .row:nth-child(1) #footer_contact_us img {
          margin-left: 10px;
          height: 20px; }
      #footer_outer_container > #footer_inner_container > .row:nth-child(1) div:nth-child(3) {
        text-align: right; }
        @media only screen and (max-width: 768px) {
          #footer_outer_container > #footer_inner_container > .row:nth-child(1) div:nth-child(3) {
            text-align: center; } }
    #footer_outer_container > #footer_inner_container > .row:nth-child(2) {
      font-size: 0.7em; }
      #footer_outer_container > #footer_inner_container > .row:nth-child(2) #copyright {
        text-align: left; }
        #footer_outer_container > #footer_inner_container > .row:nth-child(2) #copyright p {
          font-size: 1.2em; }
      #footer_outer_container > #footer_inner_container > .row:nth-child(2) #designed {
        text-align: right; }
        #footer_outer_container > #footer_inner_container > .row:nth-child(2) #designed p {
          font-size: 1.2em; }
          #footer_outer_container > #footer_inner_container > .row:nth-child(2) #designed p a {
            font-size: 1em;
            color: white; }
            #footer_outer_container > #footer_inner_container > .row:nth-child(2) #designed p a:hover {
              text-decoration: none; }

/* footer end*/
/* main_banner start */
#homepage_main_banner_container {
  position: relative; }
  #homepage_main_banner_container img {
    width: 100%;
    height: 801px; }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      #homepage_main_banner_container img {
        height: 731px; } }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      #homepage_main_banner_container img {
        height: 450px; } }
    @media only screen and (max-width: 768px) {
      #homepage_main_banner_container img {
        height: 271px; } }
  #homepage_main_banner_container .text_in_main_banner {
    position: absolute;
    top: 200px;
    width: 50%;
    left: 100px;
    color: white;
    font-size: 3em;
    font-family: "proxima-nova";
    line-height: 1em; }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      #homepage_main_banner_container .text_in_main_banner {
        font-size: 2.5em;
        top: 150px;
        left: 20px; } }
    @media only screen and (max-width: 768px) {
      #homepage_main_banner_container .text_in_main_banner {
        font-size: 2em;
        top: 50px;
        width: 70%;
        left: 20px; } }
  #homepage_main_banner_container #who_we_are_container {
    position: absolute;
    left: 100px;
    right: 100px; }
    @media only screen and (max-width: 992px) {
      #homepage_main_banner_container #who_we_are_container {
        display: none; } }
    #homepage_main_banner_container #who_we_are_container .container_2 {
      position: relative; }
      #homepage_main_banner_container #who_we_are_container .container_2 > .row {
        margin: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center; }
        #homepage_main_banner_container #who_we_are_container .container_2 > .row .who_we_are_home_title {
          text-align: center; }
        #homepage_main_banner_container #who_we_are_container .container_2 > .row .who_we_are_home_text_container {
          background: #a19181;
          height: 200px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center; }
          #homepage_main_banner_container #who_we_are_container .container_2 > .row .who_we_are_home_text_container .who_we_are_home_inner_text_container {
            padding-right: 20px;
            padding-left: 20px; }
  #homepage_main_banner_container #who_we_are_container_md_and_smaller .row {
    margin: 0; }
  @media only screen and (min-width: 992px) {
    #homepage_main_banner_container #who_we_are_container_md_and_smaller {
      display: none; } }
  #homepage_main_banner_container #who_we_are_container_md_and_smaller .who_we_are_home_title {
    background: #d83734;
    padding: 20px; }
    #homepage_main_banner_container #who_we_are_container_md_and_smaller .who_we_are_home_title h2 {
      margin: 0; }
  #homepage_main_banner_container #who_we_are_container_md_and_smaller .who_we_are_home_text_container {
    background: #a19181;
    text-align: left;
    padding: 20px; }
  #homepage_main_banner_container .who_we_are_home_title {
    background: #d83734;
    padding: 30px 0 30px 0;
    color: white;
    font-size: 2em; }
    #homepage_main_banner_container .who_we_are_home_title h1 {
      margin: 0; }
    @media only screen and (max-width: 768px) {
      #homepage_main_banner_container .who_we_are_home_title {
        font-size: 1.5em; } }
  #homepage_main_banner_container .who_we_are_home_text_header {
    font-weight: bold;
    color: #525252; }
  #homepage_main_banner_container .who_we_are_home_text {
    color: white; }

/* main_banner end */
/* services section home*/
#services_container {
  text-align: center;
  margin-top: 12em; }
  @media only screen and (max-width: 992px) {
    #services_container {
      margin-top: 0; } }
  #services_container p {
    color: #adadad; }
    @media only screen and (min-width: 992px) {
      #services_container p {
        padding: 0 100px 0 100px; } }
  #services_container .row {
    margin-right: -7px;
    margin-left: -7px; }
    #services_container .row .service_homepage_img_container {
      position: relative;
      margin-top: 14px; }
      #services_container .row .service_homepage_img_container img {
        width: 100%; }
      #services_container .row .service_homepage_img_container span {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-top: 1em;
        font-family: "proxima-nova"; }
    #services_container .row .col-xs-6, #services_container .row .col-sm-4, #services_container .row .col-md-4, #services_container .row .col-lg-4 {
      padding-right: 7px;
      padding-left: 7px; }
    #services_container .row .services_col_container {
      position: relative; }
      @media only screen and (max-width: 500px) {
        #services_container .row .services_col_container {
          width: 100%; } }
      #services_container .row .services_col_container .services_arrow {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 20px;
        height: 20px; }
  #services_container a {
    color: white;
    font-size: 2.2em; }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      #services_container a {
        font-size: 1.8em; } }
    @media only screen and (max-width: 610px) {
      #services_container a {
        font-size: 1.5em; } }
    @media only screen and (max-width: 500px) {
      #services_container a {
        font-size: 2em; } }
    #services_container a:hover {
      opacity: 0.8; }

/* services section home end*/
/* news home section*/
#news_container > .row {
  margin-right: 0;
  margin-left: 0; }
  #news_container > .row #news_banner_text_container {
    font-weight: bold;
    background: #525252; }
    @media only screen and (min-width: 768px) {
      #news_container > .row #news_banner_text_container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    #news_container > .row #news_banner_text_container #news_img_col {
      padding: 0; }
      #news_container > .row #news_banner_text_container #news_img_col img {
        width: 100%; }
      @media only screen and (max-width: 990px) {
        #news_container > .row #news_banner_text_container #news_img_col {
          display: none; } }
    #news_container > .row #news_banner_text_container p {
      color: white;
      width: 80%;
      margin-left: 30px; }
    #news_container > .row #news_banner_text_container #featured_article_title {
      margin-left: 30px;
      margin-bottom: 40px;
      color: white; }
    #news_container > .row #news_banner_text_container a {
      color: #a19181;
      float: right; }
      #news_container > .row #news_banner_text_container a:hover {
        text-decoration: none; }
    @media only screen and (max-width: 768px) {
      #news_container > .row #news_banner_text_container .col-xs-12 {
        background: #525252;
        padding: 2em; } }
    @media only screen and (max-width: 990px) {
      #news_container > .row #news_banner_text_container .col-xs-12 {
        width: 100%; } }

#news_container #publications_container {
  margin-top: 2em; }
  #news_container #publications_container .row {
    margin: 0;
    border-bottom: 1px solid #adadad;
    margin-top: 1em; }
    #news_container #publications_container .row a {
      color: #a19181;
      float: right; }
      #news_container #publications_container .row a:hover {
        text-decoration: none; }
    #news_container #publications_container .row .publ_text {
      padding-left: 0;
      font-weight: 900;
      color: #525252; }

#news_container #go_to_news_page {
  text-align: right;
  margin-top: 1em;
  padding-right: 0; }
  #news_container #go_to_news_page a {
    font-weight: 900;
    color: #d83734; }

/* news home section end */
/* home clients section */
#selected_clients_container {
  background: white;
  text-align: center;
  padding: 0em 4em 3em 4em; }
  @media only screen and (max-width: 500px) {
    #selected_clients_container {
      padding: 5em 0em 3em 0em; } }
  #selected_clients_container h2 {
    margin-bottom: 1em; }
  #selected_clients_container a {
    color: #d83734;
    font-weight: 900; }
  #selected_clients_container #auditwise_clients {
    margin-bottom: 2em; }
    #selected_clients_container #auditwise_clients .homepage_clients {
      background: #aaa;
      height: 100px; }
    #selected_clients_container #auditwise_clients .col-xs-4, #selected_clients_container #auditwise_clients .col-sm-4 {
      margin-top: 1em; }

/* home clients section end*/
/* sidemenu */
.page_sidemenu {
  position: absolute;
  left: 15px;
  top: 200px;
  width: 265px; }
  @media only screen and (max-width: 992px) {
    .page_sidemenu {
      left: 2px; } }
  @media only screen and (max-width: 992px) {
    .page_sidemenu {
      width: 319px !important; } }
  .page_sidemenu > ul > a:hover {
    text-decoration: none; }
  .page_sidemenu > ul > a > li {
    list-style-type: none;
    width: 100%;
    background-color: #80AF93;
    margin-top: 2px;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 900;
    transition: all 0.15s ease-out 0s; }
    .page_sidemenu > ul > a > li:hover {
      background: #d83734; }
      .page_sidemenu > ul > a > li:hover .sidemenu_inner_li_container img.arrow_img {
        visibility: visible; }
    .page_sidemenu > ul > a > li .sidemenu_inner_li_container {
      text-align: left;
      position: relative; }
      .page_sidemenu > ul > a > li .sidemenu_inner_li_container img.arrow_img {
        position: absolute;
        right: 0;
        top: 0;
        height: 20px;
        visibility: hidden; }
      .page_sidemenu > ul > a > li .sidemenu_inner_li_container i.fa-bars {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.3em;
        visibility: hidden; }
  .page_sidemenu > ul > a > li.active {
    background: #d83734; }
    .page_sidemenu > ul > a > li.active img.arrow_img {
      visibility: visible; }
    @media only screen and (max-width: 992px) {
      .page_sidemenu > ul > a > li.active i.fa-bars {
        visibility: visible; } }
    @media only screen and (max-width: 992px) {
      .page_sidemenu > ul > a > li.active .sidemenu_inner_li_container {
        text-align: center; } }
  @media only screen and (max-width: 992px) {
    .page_sidemenu > ul > a > li:not(.active) {
      display: none; } }
  .page_sidemenu > ul:hover > a > li:not(.active) {
    display: block; }
  .page_sidemenu > ul:hover > a > li.active i.fa-bars {
    visibility: hidden; }
  .page_sidemenu > ul:hover > a > li.active .sidemenu_inner_li_container {
    text-align: left; }

.page_sidemenu_services {
  left: 0px;
  width: 290px; }

/* sidemenu end */
/* About page */
.about_container {
  margin-left: 155px;
  background: #665851;
  margin-bottom: 2.5em;
  padding: 10em 4em 4em 12em; }
  @media only screen and (max-width: 992px) {
    .about_container {
      margin-left: 0px; } }
  @media only screen and (max-width: 768px) {
    .about_container {
      padding: 10em 2em 4em 2em; } }
  .about_container h1 {
    margin-bottom: 1.5em;
    color: white; }
    @media only screen and (max-width: 768px) {
      .about_container h1 {
        margin-bottom: 1em; } }
  .about_container .small_title {
    color: #709980;
    font-size: 20px; }
  .about_container .about_text p {
    color: white; }
  .about_container .about_text p:not(:first-child) {
    margin-top: 2em; }

/* About page end */
/* people start */
@media only screen and (min-width: 992px) {
  .people_container {
    padding-top: 4em; } }

@media only screen and (min-width: 500px) {
  .people_container .person_image_text_container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media only screen and (max-width: 500px) {
  .people_container .person_image_text_container .people_col {
    width: 100%; } }

.people_container .person_image_text_container .people_col .person_image {
  width: 100%; }

.people_container .person_image_text_container .people_col .people_name, .people_container .person_image_text_container .people_col .people_title {
  text-align: center;
  color: white; }

.people_container .person_image_text_container .people_col .people_title h4 {
  margin: 0; }

.people_container .person_image_text_container .people_col .people_name h1 {
  margin: 0; }

.people_container h1.title {
  margin-bottom: 1em; }

/* people end */
/* services page */
#accounting_container {
  background: url("/images/services/accouning_main.jpg") no-repeat;
  background-color: #525252;
  background-size: 100%; }

#auditing_container {
  background: url("/images/services/Auditing & Assurance_main.jpg") no-repeat;
  background-color: #525252;
  background-size: 100%; }

#business_administration_container {
  background: url("/images/services/Business Administration_main.jpg") no-repeat;
  background-color: #525252;
  background-size: 100%; }

#business_plan_container {
  background: url("/images/services/business_plan_main.jpg") no-repeat;
  background-color: #525252;
  background-size: 100%; }

#tax_container {
  background: url("/images/services/tax_main.jpg") no-repeat;
  background-color: #525252;
  background-size: 100%; }

#business_advisors_container {
  background: url("/images/services/Βusiness Advisors_main.jpg") no-repeat;
  background-color: #525252;
  background-size: 100%; }

/* services page */
/* career drawer */
#career_drawer {
  position: fixed;
  top: 0;
  right: -25%;
  width: 25%;
  height: 100%;
  background: #A19181;
  z-index: 5;
  padding: 97px 20px 0 20px;
  transition: all 0.5s ease-out 0s;
  color: white; }
  @media screen and (max-height: 680px) {
    #career_drawer {
      padding-top: 5px;
      padding-right: 2px;
      padding-left: 2px; } }
  @media only screen and (min-width: 550px) and (max-width: 992px) {
    #career_drawer {
      right: -35%;
      width: 35%; } }
  @media only screen and (max-width: 550px) {
    #career_drawer {
      right: -45%;
      width: 45%; } }
  #career_drawer h1 {
    text-align: center; }
    @media screen and (max-height: 680px) {
      #career_drawer h1 {
        font-size: 28px;
        margin: 0px; } }
  #career_drawer p {
    text-align: center; }
  #career_drawer form {
    margin-top: 50px; }
    @media screen and (max-height: 680px) {
      #career_drawer form {
        margin-top: 0px; } }
    #career_drawer form input, #career_drawer form button {
      border-radius: 0; }
    #career_drawer form button {
      background-color: #d83734;
      color: white;
      border-color: #d83734; }
  #career_drawer .form-group {
    text-align: center; }
  #career_drawer .form-control:focus {
    border-color: #a19181;
    box-shadow: 0 0 8px rgba(82, 82, 82, 0.6); }

/* career drawer end*/
/* single_post start*/
#single_post_container {
  background: #ededed;
  padding-top: 7em;
  margin-bottom: 20px; }
  #single_post_container .single_post_date p {
    color: #709980; }
  #single_post_container .single_post_title h2 {
    color: #6b6b6b; }
  #single_post_container .single_post_text p {
    color: black; }
  #single_post_container .single_post_social {
    margin-top: 10px;
    margin-bottom: 30px; }
    #single_post_container .single_post_social .social_button {
      padding: 10px;
      width: 130px;
      color: white;
      display: inline-block;
      text-align: center; }
      #single_post_container .single_post_social .social_button i {
        margin-right: 10px; }
    #single_post_container .single_post_social .social_button.fb_button {
      background: #3b5998; }
    #single_post_container .single_post_social .social_button.twitter_button {
      background: #1da1f2; }

@media only screen and (max-width: 992px) {
  .page_sidemenu_sinlge_post {
    top: 160px; } }

@media only screen and (max-width: 768px) {
  .page_sidemenu_sinlge_post {
    left: 0px; } }

.page_sidemenu_sinlge_post ul a li {
  background: #525252; }

#go_to_news {
  text-align: right;
  margin-bottom: 20px; }
  #go_to_news a {
    color: #d83734;
    font-weight: 900; }

/* single_post end*/
/* news start */
#news_container_page {
  background: #ededed;
  padding-top: 5em; }
  @media only screen and (max-width: 992px) {
    #news_container_page {
      padding-top: 100px; } }
  #news_container_page .single_new_container {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 40px; }
    #news_container_page .single_new_container .signle_new_date {
      color: #709980;
      margin-bottom: 10px; }
    #news_container_page .single_new_container .row .single_new_title {
      margin: 0;
      color: #6b6b6b; }
    #news_container_page .single_new_container .row .single_new_read_more_container {
      text-align: right;
      margin-top: 15px; }
      #news_container_page .single_new_container .row .single_new_read_more_container .single_new_read_more {
        color: #a19181; }

#more_news {
  text-align: center;
  margin-bottom: 35px; }
  @media only screen and (min-width: 992px) {
    #more_news {
      margin-left: 155px; } }
  #more_news a {
    color: #d83734;
    font-weight: 900; }
    #more_news a i {
      font-size: 28px; }
    #more_news a:hover {
      text-decoration: none; }

@media only screen and (max-width: 992px) {
  .page_sidemenu_news {
    top: 150px; } }

/* news end */
/* contact page start */
#google_maps_container {
  width: 100%;
  height: 600px;
  position: relative; }
  #google_maps_container iframe {
    width: 100%;
    height: 100%;
    border: 0px; }
  #google_maps_container #contact_header {
    position: absolute;
    bottom: -89px;
    left: 100px;
    right: 100px;
    background: #a19181;
    text-align: center;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px; }
    #google_maps_container #contact_header h1 {
      margin: 0; }
    @media only screen and (max-width: 768px) {
      #google_maps_container #contact_header {
        display: none; } }
  #google_maps_container #contact_header_sm {
    background: #a19181;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 2em; }
    #google_maps_container #contact_header_sm h1 {
      margin: 0; }
    @media only screen and (min-width: 768px) {
      #google_maps_container #contact_header_sm {
        display: none; } }

#contact_page_form_container {
  margin-top: 80px;
  padding: 50px 100px 50px 100px;
  margin-bottom: 6em; }
  @media only screen and (max-width: 768px) {
    #contact_page_form_container {
      margin-top: 130px; } }
  @media only screen and (max-width: 992px) {
    #contact_page_form_container {
      padding: 50px 0 50px 0; } }
  #contact_page_form_container > .row:first-child {
    margin: 0; }
    @media only screen and (min-width: 768px) {
      #contact_page_form_container > .row:first-child {
        display: -ms-flexbox;
        display: flex; } }
    #contact_page_form_container > .row:first-child textarea {
      resize: none;
      height: 100%;
      border-radius: 0; }
    #contact_page_form_container > .row:first-child input {
      border-radius: 0; }
    #contact_page_form_container > .row:first-child .phone_input {
      margin: 0; }
    #contact_page_form_container > .row:first-child .textarea_container {
      padding-right: 0; }
      @media only screen and (max-width: 768px) {
        #contact_page_form_container > .row:first-child .textarea_container {
          margin-top: 15px;
          padding-left: 0; } }
  #contact_page_form_container button {
    float: right;
    margin-top: 15px;
    border-radius: 0;
    background: #80AF93;
    color: white;
    font-weight: 900;
    padding: 15px 30px 15px 30px; }

/* contact page end */

/*# sourceMappingURL=auditwise_main.css.map */
