/* About page */
.about_container{
    margin-left:155px;
    @include devices_max($break-md){
        margin-left:0px;
    }
    background:$container-color;
    margin-bottom:2.5em;
    padding:10em 5em 10em 18em;
    @include devices_max($break-sm){
        padding:10em 2em 4em 2em;
    }
    h1{
        margin-bottom:1.5em;
        font-size:54px;
        color:white;
        @include devices_max($break-sm){
            margin-bottom:1em;
        }
    }
    .small_title{
        font-family:$text-font;
        color:$secondary-title-color;
        font-size:20px;
        font-weight:700;
        margin-bottom:20px;
    }
    .about_text{
        p{
            font-size:20px;
            color:#f5f4f3;
            line-height:1.3;
            opacity:0.8;
        }
        p:not(:first-child){
            margin-top:2em;
        }
    }
}
/* About page end */

/* people start */
.people_container{
    @include devices_min($break-md){
        padding-top:4em;
    }
    .person_image_text_container{
        @include devices_min(500px){
            @include flex_center;
        }
        .people_col{
            @include devices_max(500px){
                width:100%;
            }
            .person_image{
                width: 100%;
            }
            .people_name,.people_title{
                text-align: left;
                color:white;
            }
            .people_title{
                h4{
                    margin:0;
                    font-size:21px;
                }
            }
            .people_name{
                h1{
                    margin:0;
                    font-size:42px;
                }
            }
        }
    }
    h1.title{
        margin-top:0;
        margin-bottom: 1em;
    }
    hr{
        margin-top:80px;
        border-color:#847669;
    }
}
.people_sidemenu{
}

/* people end */
