/* career drawer */

#career_drawer{
    position:fixed;
    top:0;
    right:-25%;
    width:25%;
    height:100%;
    background:#A19181;
    z-index: 5;
    padding:97px 20px 0 20px;
    @media screen and (max-height: 680px){
        padding-top:5px;
        padding-right: 2px;
        padding-left: 2px;
    }
    transition: all 0.5s ease-out 0s;
    color: white;
    @include devices(550px,$break-md){
        right:-35%;
        width:35%;
    }
    @include devices_max(550px){
        right:-45%;
        width:45%;
    }
    h1{
        text-align: center;
        font-size:54px;
        @media screen and (max-height: 680px){
            font-size:28px;
            margin: 0px;
        }
    }
    p{
        text-align: center;
        font-size:20px;
    }
    form{
        margin-top: 50px;
        @media screen and (max-height: 680px){
            margin-top:0px;
        }
        input,button{
            border-radius:0;
        }
        input{
            height:50px;
        }
        ::placeholder{
            color:#525252;
            font-family:$header-font;
            font-size:18px;
        }
        button{
            background-color: $main-color;
            color:white;
            border-color:$main-color;
            font-size:20px;
            padding:10px 40px 10px 40px;
            margin-top:30px;
        }
    }
    .form-group{
        text-align: center;
        margin-bottom:5px;
    }
    .form-control:focus{
        border-color: $secondary-color;
        box-shadow:0 0 8px rgba(82,82,82,.6)
    }
}

/* career drawer end*/
