/* contact page start */
#google_maps_container{
    width: 100%;
    height: 600px;
    position: relative;
    iframe{
        width: 100%;
        height: 100%;
        border:0px;
    }
    #contact_header{
        position: absolute;
        bottom: -89px;
        left:100px;
        right:100px;
        background: #a19181;
        text-align: center;
        color: white;
        padding-top: 80px;
        padding-bottom: 80px;
        h1{
            margin: 0;
        }
        @include devices_max($break-sm){
            display:none;
        }
    }
    #contact_header_sm{
        background: #a19181;
        text-align: center;
        color: white;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 2em;
        h1{
            margin: 0;
        }
        @include devices_min($break-sm){
            display:none;
        }
    }
}
#contact_page_form_container{
    margin-top: 80px;
    @include devices_max($break-sm){
        margin-top: 130px;
    }
    padding:50px 100px 50px 100px;
    @include devices_max($break-md){
        padding:50px 0 50px 0;
    }
    margin-bottom: 6em;
    &>.row:first-child{
        margin: 0;
        @include devices_min($break-sm){
            display: flex;
        }
        textarea {
            resize: none;
            height: 100%;
            border-radius: 0;
        }
        input{
            border-radius: 0;
            height:60px;
        }
        .phone_input{
            margin: 0;
        }
        .textarea_container{
            padding-right: 0;
            @include devices_max($break-sm){
                margin-top:15px;
                padding-left: 0;
            }
        }
    }
    button{
        float: right;
        margin-top: 25px;
        border-radius: 0;
        background: #80AF93;
        color: white;
        font-weight: 900;
        padding:15px 85px 15px 85px;
        font-size:20px;
    }
    .form-group{
        margin-bottom:5px;
    }
    ::placeholder{
        color:#525252;
        font-family:$header-font;
        font-size:18px;
    }
}
/* contact page end */
