/* footer */
#footer_outer_container{
    color:white;
    background:$main-color;
    padding-top:6em;
    padding-bottom:15px;
    @include devices_max($break-sm){
        padding-top:3em;
    }
    &>#footer_inner_container{
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
        &>.row{
            &:nth-child(1){
                margin-bottom:4em;
                p{
                    margin:0;
                }
                #telephone{
                    margin-top:5px;
                    @include devices_max($break-sm){
                        text-align: center;
                        margin-bottom: 3em;
                    }
                }
                #address{
                    @include devices_max($break-sm){
                        text-align: center;
                    }
                }
                #footer_logo{
                    text-align:center;
                    img{
                        width:250px;
                    }
                }

                #footer_social{
                    margin-top: 35px;
                    a{
                        i{
                            font-size:34px;
                            color:white;
                        }
                        &:not(:first-child){
                            i{
                                margin-left:43px;
                            }

                        }
                    }
                }
                #footer_contact_us{
                    a{
                        color:white;
                        &:hover{
                            text-decoration:none;
                        }
                    }
                    font-size: 2em;
                    img{
                        margin-left: 10px;
                        height:20px;
                    }
                }
                div:nth-child(3){
                    text-align: right;
                    @include devices_max($break-sm){
                        text-align: center;
                    }
                }
            }
            &:nth-child(2){
                font-size: 0.7em;
                #copyright{
                    text-align:left;
                    p{
                        font-size:1.2em;
                    }
                }
                #designed{
                    text-align:right;
                    p{
                        font-size:1.2em;
                        a{
                            font-size:1em;
                            color:white;
                            &:hover{
                                text-decoration:none;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* footer end*/
