.lang{
    font-weight: 900;
    color:$secondary-home-color;
}

.lang_active{
    color:$main-home-color;
}

#header_nav_container{
    margin-bottom:1em;
    #language{
        text-align:right;
    }
    #header_bar{
        @include flex_center();
        #header_logo{
            text-align:center;
            @include devices_max($break-sm){
                text-align:left;
            }
            img{
                height:92px;
            }
        }
        #header_spacer{
            display:none;
            @include devices_max($break-sm){
                display:block;
            }
        }
        #header_social{
            @include devices_max($break-sm){
                display:none;
            }
            i{
                font-size:28px;
                color:#a19181;
                &:hover{
                    color:#adadad;
                    text-decoration: none;
                }
            }
            a:not(:last-child){
                margin-right:2em;
            }
            a{
                &:hover{
                    text-decoration: none;
                }
            }
        }
        #header_search{
            position: relative;
            text-align:right;
            img{
                height:20px;
                cursor: pointer;
            }
        }
        #header_nav{
            text-align: right;
            #drawer_trigger{
                span{
                    color:$secondary-color;
                    font-family: $header-font;
                    font-size:20px;
                    cursor:pointer;
                    @media screen and (max-width: $break-sm){
                        display:none;
                    }
                }
                img{
                    height:20px;
                    margin-left:0.5em;
                    cursor:pointer;
                }
            }
        }
    }
}
#hidden_search_container{
    text-align:center;
    max-height:0px;
    transition:all 1s ease;
    opacity:0;
    #search_input_hidden{
        display:inline-block;
        width:60%;
        z-index:-90;
        @include devices_max($break-sm){
            width:90%;
        }
    }
    img{
        display:inline-block;
        height:20px;
        cursor:pointer;
    }
}
