/* single_post start*/
#single_post_container{
    background: #ededed;
    padding-top: 7em;
    margin-bottom: 20px;
    .single_post_date{
        p{
            color:#709980;
        }
    }
    .single_post_title{
        h2{
            color:#6b6b6b;
        }
    }
    .single_post_text{
        p{
            color: black;
        }
    }
    .single_post_social{
        margin-top: 10px;
        margin-bottom: 30px;
        .social_button{
            padding:10px;
            width:130px;
            color: white;
            display: inline-block;
            text-align: center;
            i{
                margin-right: 10px;
            }
        }
        .social_button.fb_button{
            background: #3b5998;
        }
        .social_button.twitter_button{
            background: #1da1f2;
        }
    }
}
.page_sidemenu_sinlge_post{
    @include devices_max($break-md){
        top:160px;
    }
    @include devices_max($break-sm){
        left:0px;
    }
    ul{
        a{
            li{
                background: #525252;
            }
        }
    }
}
#go_to_news{
    text-align: right;
    margin-bottom: 20px;
    a{
       color:$main-color;
       font-weight: 900;
    }
}
/* single_post end*/

/* news start */
#news_container_page{
    background: #ededed;
    padding-top: 5em;
    @include devices_max($break-md){
        padding-top: 100px;
    }
    .single_new_container{
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-bottom: 40px;
        .signle_new_date{
            color: #709980;
            margin-bottom: 10px;
        }
        .row{
            .single_new_title{
                margin: 0;
                color: #6b6b6b;
            }
            .single_new_read_more_container{
                text-align: right;
                margin-top: 15px;
                .single_new_read_more{
                    color: #a19181;
                }
            }
        }
    }
}
#more_news{
    text-align: center;
    margin-bottom: 35px;
    @include devices_min($break-md){
        margin-left: 155px;
    }
    a{
       color:$main-color;
       font-weight: 900;
       i{
        font-size: 28px;
       }
       &:hover{
        text-decoration:none;
       }
    }
}
.page_sidemenu_news{
    @include devices_max($break-md){
        top:150px;
    }
}
/* news end */
