/* newsletter */
#newsletter_container{
    background:url('/images/homepage/newsletter.jpg');
    background-repeat:no-repeat;
    background-position:center;
    height:406px;
    @include devices_max($break-sm){
        padding-left:15px;
        padding-right:15px;
    }

    #newsletter{
        width:100%;
        .section_title{
            margin:0;
        }
        p,h2{
            text-align:center;
        }
        h2.section_title{
            margin-bottom:30px;
            margin-top:0;
        }
        p{
            color:white;
            font-size:18px;
            @include devices_max($break-md){
                margin-bottom:1em;
            }
        }
        h2{
            @include devices_max($break-md){
                margin-top:1em!important;
            }
        }
        input,button{
            border-radius:0;
            margin-top:100px;
            height:50px;
        }
        .input_col{
            padding-right:10px;
        }
        ::placeholder{
            color:#665b51;
            font-style: italic;
            font-family:$header-font;
            opacity:0.8;
        }
        button{
            color:white;
            background:$secondary-color;
            border-color:$secondary-color;
            font-size:18px;

            @include devices_max(500px){
                padding:0;
                padding-top:6px;
                padding-bottom:6px;
            }
            .fa-envelope-o{
                display:none;
                font-size:18px;
                padding-bottom:2px;
                @include devices_max(400px){
                    display:block;
                }
            }
            .sub_text{
                @include devices_max(400px){
                    display:none;
                }
            }
        }
        .form-control:focus{
            border-color:$secondary-color;
            box-shadow:0px 0px 5px $secondary-color;
        }
    }
}
/* newsletter end */
