/* services page */
$services-container-color:#525252;
#accounting_container{
    background: url('/images/services/accouning_main.jpg') no-repeat;
    background-color:$services-container-color;
    background-size: 100%;
}
#auditing_container{
    background: url('/images/services/Auditing & Assurance_main.jpg') no-repeat;
    background-color:$services-container-color;
    background-size: 100%;
}
#business_administration_container{
    background: url('/images/services/Business Administration_main.jpg') no-repeat;
    background-color:$services-container-color;
    background-size: 100%;
}
#business_plan_container{
    background: url('/images/services/business_plan_main.jpg') no-repeat;
    background-color:$services-container-color;
    background-size: 100%;

}
#tax_container{
    background: url('/images/services/tax_main.jpg') no-repeat;
    background-color:$services-container-color;
    background-size: 100%;
}
#business_advisors_container{
    background: url('/images/services/Βusiness Advisors_main.jpg') no-repeat;
    background-color:$services-container-color;
    background-size: 100%;
}
/* services page */
