$main-color:#d83734;
$secondary-color:#a19181;
$menu-color:#525252;
$break-sm:768px;
$break-md:992px;
$break-lg:1200px;
$header-font:'proxima-nova';
$text-font:'foco';
$text-size:16px;

$container-color:#665851;
$menu-item-color:#80AF93;
$secondary-title-color:#709980;
$sidemenu-color:#80AF93;

$audit_red:#d83734;
$audit_light_brown:#a19181;
$main-home-color:$audit_red;
$secondary-home-color:$audit_light_brown;
